@import url("style.css");
body {
  /* background-image: url(/../storage/flag.jpg) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important; */
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 21px;
}

.main_container {
  background-color: #fff;
}
.m-menu-content ul {
  border-right: 1px solid #f5f5f5 !important;
  padding: 20px;
}
#menu li a {
  display: block;
  text-decoration: none;
  color: #777777 !important;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px dotted #444;
}
.main_content {
  margin-left: 0 1%;
}
.reply-title {
  word-wrap: break-word;
}
.sidebar {
  align-items: center;
}
.header_phone {
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
}
.contacts_social a {
  padding: 0 10px;
}
#logo_name {
  font-size: 15px !important;
  line-height: 1.5em;
  margin-top: 1.7rem;
  padding-left: 10px;
  font-weight: 570;
}
#second_logo_name {
  font-size: 19px !important;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: 1.7rem;
  padding-left: 10px;
}
.menu_item {
  padding: 0 27px;
}
.color_red {
  color: tomato;
}
.map_content {
  max-width: 750px;
  height: 570px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.text-tel {
  font-size: 20px;
}
.ul_padding{
padding-left:2em;
}
.li_padding {
  padding-left: 10px;
}
.main_fond_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.turquoise {
  color: #00aa97;
}
.turquoise-back {
  background-color: #00aa97;
}
#footer_logo_name {
  font-size: 12px !important;
  position: absolute !important;
  top: 17% !important;
  left: 35% !important;
  float: right !important;
  font-weight: 700;
}
.footer_logo img {
  max-width: 100px;
}
.footer_padding {
  padding-left: 10px;
}
.category_news_body {
  min-height: 430px;
  max-height: 750px;
  flex: 50%;
}
.btn-feedback-call {
  border-radius: 50px !important;
  font-size: 12px !important;
}
.blanks_item{
    display:flex;
    align-items: center;
}
.mb15{
margin-bottom:15px;
}
.useful_info_item {
  padding: 10px;
  background-color:lightgray;
  margin: 10px;
  border: 1px solid black;
  border-radius:1px;
}
.useful_info_item a{
    font-weight:bold;
}
.useful_contacts_links_item {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.info_item_content{
margin-top:1em;
}
.info_breadcrumb{
padding:8px 0 !important;
}
.info_breadcrumb a{
    color:black !important;}

.t-indent-30 {
  text-indent: 2rem !important;
}
.banner {
  float: right;
}
.success-btn {
  font-style: bold;
  color: #4287b2;
}
.table-wrap {
  overflow-x: auto;
}
#hotline_phone {
  font-weight: 900 !important;
}
.btn_news {
  padding: 1rem;
}
.pop_modal {
  margin: 12px 0;
}
.phone-text {
  font-weight: 900;
  color: #090950;
}
.hotline_img {
  padding-left: 15px !important;
}

.modal-backdrop {
  z-index: 1000;
}
.partner_item img {
  width: 100px;
  height: 100px;
  border-radius: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.crunchify-top:hover {
  background-color: rgb(49, 160, 177);
  color: #fff;
}
/* .media .avatar {
  width: 64px;
} */
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

#btn-web-feedback {
  margin-top: 10px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.brochure-item img {
  width: 250px;
}
.partner-item {
  margin-left: 18px;
}
.side-block {
  margin-top: 5rem;
}
.news-item {
  overflow: hidden;
  width: 300px;
}
.intro-item {
  overflow: hidden;
  max-width: 300px;
}
.widget_t ::after {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 52%;
  content: " ";
  width: 50%;
  border-top: 2px solid #eee;
  z-index: 1;
}
.wrap {
  flex-wrap: wrap;
}

.press_img {
  max-width: 370px;
}
.news_divider {
  padding-bottom: 20px;
}

.doc_style {
  font-family: arial, helvetica, sans-serif;
  font-size: medium;
}
.documents_body li {
  text-decoration: underline;
  font-weight: bold;
}
.report_link {
  text-decoration: underline;
  line-height: 1.5;
}
.brochure-button {
  margin-top: 1.5rem;
}
.password {
  position: relative;
}
.password-control {
  position: absolute;
  top: 11px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../assets/images/view.svg") 0 0 no-repeat;
  /* background: url("https://snipp.ru/demo/495/view.svg") 0 0 no-repeat; */
}

.password-control.view {
  background: url("../assets/images/no-view.svg") 0 0 no-repeat;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.main-nav li,
.hotline_box li {
  list-style-type: none !important;
}
.list-none {
  list-style-type: none !important;
}
.link_color {
  font-weight: bold;
  color: #0000cc;
  text-decoration: underline;
}
.pop_map_link {
  font-size: 12px;
  font-style: italic;
  color: #0000cc;
  text-decoration: underline;
}
.partner_block {
  margin: 0 15px;
}
.partner_block p {
  padding: 0 10px;
  margin-top: 10px;
}
.item_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  max-width: 23rem;
}
.f-size15 {
  font-size: 15px;
}
.underline {
  text-decoration: underline;
}
.green_btn {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .main_container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1190px) {
  .header_phone {
    font-size: 13px;
  }
  .menu_item {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1000px) {
  #logo_name {
    display: none;
  }
  #second_logo_name {
    display: none;
  }
  .logo img {
    margin: 0 auto;
  }
  .sidebar {
    margin: 0 auto;
    padding-top: 20px;
  }
  .sidebar_fond_img {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
  }
  .menu_item {
    padding: 0 !important;
  }
  .footer_partners_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .footer_partners_2_item img .footer_partners_2_item {
    margin: 0 auto;
  }
  .brochures,
  .brochures img {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* display:flex;
flex-direction: column;
} */
  }
}

@media screen and (max-width: 768px) {
  .sidebar_fond_img {
    width: 400px;
    margin: 0 auto;
    align-items: center;
  }

  .flex-sm-column {
    display: flex;
    flex-direction: column;
  }

  .flex-sm-row {
    display: flex;
    flex-direction: row;
  }
  .divider:after {
    width: 78% !important;
  }
  .useful_contacts_links_item a {
    font-size: 9px;
  }
}

@media screen and (max-width: 648px) {
  .category_news_body {
    min-height: 280px;
    flex: 50%;
  }
  .text-tel {
    font-size: 16px;
  }
  .useful_contacts_links {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .sidebar_fond_img {
    width: 300px;
    margin: 0 auto;
    align-items: center;
    float: center;
  }
  .text-tel {
    font-size: 12px;
  }
  .main_fond_img {
    padding-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .category_news_body {
    min-height: 380px;
    flex: 100%;
  }
  .text-tel {
    font-size: 12px;
  }
  .main_fond_item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .main_fond_img {
    margin-top: 10px;
  }
  .divider:after {
    width: 68% !important;
  }
}

@media screen and (max-width: 360px) {
  .divider:after {
    width: 60% !important;
  }
}

@media screen and (max-width: 320px) {
  .tests {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
